<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WineEntryClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WineEntryClient.Properties.Settings>
            <setting name="WineEntryClient_petWS_petWS" serializeAs="String">
                <value>http://crius.dyndns.org:8888/GentagDemo/petWSSoapHttpPort</value>
            </setting>
            <setting name="WineEntryClient_org_dyndns_crius_wineWS" serializeAs="String">
                <value>http://crius.dyndns.org:8888/GentagDemo/wineWSSoapHttpPort</value>
            </setting>
        </WineEntryClient.Properties.Settings>
    </applicationSettings>
</configuration>