<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
    <servlet>
        <description>Web Service AssayWSSoapHttpPort</description>
        <display-name>Web Service AssayWSSoapHttpPort</display-name>
        <servlet-name>AssayWSSoapHttpPort</servlet-name>
        <servlet-class>assayPackage.assayService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Web Service AuthenticationWebServiceSoapHttpPort</description>
        <display-name>Web Service AuthenticationWebServiceSoapHttpPort</display-name>
        <servlet-name>AuthenticationWebServiceSoapHttpPort</servlet-name>
        <servlet-class>authenticationPackage.authenticationService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Web Service COREMedDemoWSSoap12HttpPort</description>
        <display-name>Web Service COREMedDemoWSSoap12HttpPort</display-name>
        <servlet-name>COREMedDemoWSSoap12HttpPort</servlet-name>
        <servlet-class>COREMedDemo.COREMedDemoService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Web Service COREMedDemoWSSoapHttpPort</description>
        <display-name>Web Service COREMedDemoWSSoapHttpPort</display-name>
        <servlet-name>COREMedDemoWSSoapHttpPort</servlet-name>
        <servlet-class>COREMedDemo.COREMedDemoService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Web Service GetDatesWSSoapHttpPort</description>
        <display-name>Web Service GetDatesWSSoapHttpPort</display-name>
        <servlet-name>GetDatesWSSoapHttpPort</servlet-name>
        <servlet-class>datespackage.GetDates</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Web Service DhlDemoWSSoapHttpPort</description>
        <display-name>Web Service DhlDemoWSSoapHttpPort</display-name>
        <servlet-name>DhlDemoWSSoapHttpPort</servlet-name>
        <servlet-class>dhlDemo.dhlDemoService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Web Service EvDemoWSSoapHttpPort</description>
        <display-name>Web Service EvDemoWSSoapHttpPort</display-name>
        <servlet-name>EvDemoWSSoapHttpPort</servlet-name>
        <servlet-class>evDemo.evDemoService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Web Service petWSSoapHttpPort</description>
        <display-name>Web Service petWSSoapHttpPort</display-name>
        <servlet-name>petWSSoapHttpPort</servlet-name>
        <servlet-class>petPackage.petService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Web Service wineWSSoapHttpPort</description>
        <display-name>Web Service wineWSSoapHttpPort</display-name>
        <servlet-name>wineWSSoapHttpPort</servlet-name>
        <servlet-class>winepackage.wineService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>Web Service MedReminderWebServiceSoapHttpPort</description>
        <display-name>Web Service MedReminderWebServiceSoapHttpPort</display-name>
        <servlet-name>MedReminderWebServiceSoapHttpPort</servlet-name>
        <servlet-class>MedReminder.medReminderService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssayWSSoapHttpPort</servlet-name>
        <url-pattern>AssayWSSoapHttpPort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationWebServiceSoapHttpPort</servlet-name>
        <url-pattern>AuthenticationWebServiceSoapHttpPort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>COREMedDemoWSSoap12HttpPort</servlet-name>
        <url-pattern>COREMedDemoWSSoap12HttpPort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>COREMedDemoWSSoapHttpPort</servlet-name>
        <url-pattern>COREMedDemoWSSoapHttpPort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDatesWSSoapHttpPort</servlet-name>
        <url-pattern>GetDatesWSSoapHttpPort/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DhlDemoWSSoapHttpPort</servlet-name>
        <url-pattern>DhlDemoWSSoapHttpPort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvDemoWSSoapHttpPort</servlet-name>
        <url-pattern>EvDemoWSSoapHttpPort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>petWSSoapHttpPort</servlet-name>
        <url-pattern>petWSSoapHttpPort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wineWSSoapHttpPort</servlet-name>
        <url-pattern>wineWSSoapHttpPort/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedReminderWebServiceSoapHttpPort</servlet-name>
        <url-pattern>MedReminderWebServiceSoapHttpPort</url-pattern>
    </servlet-mapping>
</web-app>
