<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenTag_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GenTag_Server.Properties.Settings>
            <setting name="GenTag_Server_org_dyndns_crius_GetDatesWS" serializeAs="String">
                <value>http://crius.dyndns.org:8888/GentagDemo/GetDatesWSSoapHttpPort</value>
            </setting>
            <setting name="GenTag_Server_COREMedDemoWS_COREMedDemoWS" serializeAs="String">
                <value>http://crius.dyndns.org:8888/GentagDemo/COREMedDemoWSSoapHttpPort</value>
            </setting>
        </GenTag_Server.Properties.Settings>
    </applicationSettings>
</configuration>