<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eV_Products_Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <eV_Products_Demo.Properties.Settings>
            <setting name="eV_Products_Demo_EvDemoWS_EvDemoWS" serializeAs="String">
                <value>http://crius.dyndns.org:8888/GentagDemo/EvDemoWSSoapHttpPort</value>
            </setting>
        </eV_Products_Demo.Properties.Settings>
    </applicationSettings>
</configuration>