<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CORE_MedDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CORE_MedDemo.Properties.Settings>
            <setting name="CORE_MedDemo_COREMedDemoWS_COREMedDemoWS" serializeAs="String">
                <value>http://id1.gentag.com:7777/GentagDemo/COREMedDemoWSSoap12HttpPort</value>
            </setting>
        </CORE_MedDemo.Properties.Settings>
    </applicationSettings>
</configuration>